@import 'colors';
@import 'rating-trends';

$block-class: 'cise-table';


@at-root {
    .#{$block-class} {
        color: $blue-grey-darken-1;
        padding: 0.5rem 0;

        & &__header-section {
            display: grid;
            width: 140rem;
            height: 4rem;
            flex-wrap: nowrap;
            margin-left: 0.5rem;
            text-align: -webkit-center;
            grid-template-columns: 11.5rem repeat(15, 1fr);

            &--inverted {
                background-color: $blue-grey-darken-1;
                color: $blue-grey-lighten-5;
            }
    
            &--wide {
                justify-content: flex-start;
            }
        }

        & &__header-item {
            min-width: calc(10% + 0.8px); //don't @ me
            display: flex;
            height: inherit;
            justify-content: center;

            &--smaller {
                flex-basis: 5%;
            }

            &--small {
                flex-basis: 10%;
            }

            &--standard {
                flex-basis: 14%;
            }

            &--medium {
                flex-basis: 15%;
            }

            &--large {
                flex-basis: 20%;
                justify-content: left;
            }

            &--larger {
                flex-basis: 22%;
                min-width: 15%;
            }
        }

        & &__title-align {
            @extend .cise-table__header-item;
            min-width: 10%;
            height: inherit;
            width: 100%;
        }

        & &__title-align--left {
            @extend .cise-table__header-item;
            padding: 1rem;
            align-items: center;
            height: inherit;
        }

        & &__title-align-small {
            @extend .cise-table__title-align;
            flex-basis: 8%;
            max-width: 8%;
            align-items: center;
            height: inherit;
            display: flex;
            justify-content: center;
        }

        & &__title {
            word-wrap: break-word;
            font-weight: bold;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            width: inherit;
        }

        & &__help-icon {
            @extend .rating-trends__help-icon;
            font-size: 1.25rem;
        }

        & &__row {
            width: 100%;
        }

        & &__data-display {
            width: 140rem;
        }

        & &__data-display::-webkit-scrollbar {
            display: none;
        }

        & &__pagination {
            color: $blue-grey-darken-4;
            margin-left: auto;
        }
    }

    .MuiTablePagination-menuItem {
        font-weight: 800;
        font-size: .9rem;
    }

    .MuiTablePagination-selectLabel{
        font-weight: 800;
        font-size: .9rem;
    }

    .MuiTablePagination-select{
        font-weight: 800;
        font-size: .9rem;
    }

    .MuiTablePagination-displayedRows{
        font-weight: 800;
        font-size: .9rem;
    }

    .MuiTablePagination-toolbar {
        color: $blue-grey-lighten-1;
        font-weight: 700;
    }

    .MuiPaginationItem-root {
        color: $blue-grey-darken-1;
        border-radius: 3px;
        border: .1rem solid $blue-grey-lighten-3;
    }

    .MuiList-root {
        color: $blue-grey-lighten-1;
    }
}