@import 'colors';

$block-class: 'cise-table-row';

@at-root {
    .#{$block-class} {
        background-color: inherit;

        & &__row-section {
            display: grid;
            width: calc(100% + 1.45rem);
            flex-wrap: nowrap;
            background-color: inherit;
            grid-template-columns: 12rem repeat(15, 1fr);

            &--wide {
                justify-content: flex-start;
            }
        }

        & &__data-align {
            display: flex;
            justify-content: center;
            padding: 0.5rem;
            min-width: 10%;
            word-wrap: break-word;
            background-color: inherit;
            margin: 0;
            height: 6rem;
            align-items: center;

            &--smaller {
                flex-basis: 8%;
            }

            &--small {
                flex-basis: 10%;
            }

            &--standard {
                flex-basis: 14%;
            }

            &--medium {
                flex-basis: 15%;
            }

            &--larger {
                flex-basis: 22%;
            }
        }

        & &__data-align:first-of-type {
            margin-left: 0.5rem;
        }

        & &__data-align-small {
            @extend .cise-table-row__data-align;
            flex-basis: 8%
        }

        & &__data {
            color: $blue-grey-darken-4;
            font-size: .9rem;
        }

        & &__compliance-icon {
            font-size: 2rem;
            margin-bottom: .2rem;
        }

        & &__compliance-panel {
            display: flex;
            flex-direction: column;
            align-items: center;

            &--matched {
                color: $green-icon;
            }
    
            &--unmatched {
                color: $default-red;
            }
        }
    }
}