$block-class: 'd3-chart';

@import 'colors';

@at-root {
  .#{$block-class} {
    width: inherit;

    &__line-chart {
      height: 37.5rem;
      width: -webkit-fill-available;
      background-color: $default-white;
    }

    &__x-axis {
      display: none;
    }

    &__y-axis {
      color: $blue-grey-lighten-4;
    }

    &__stroke-stroke-width-opacity {
      stroke-width: 2;
      stroke-opacity: 0.5;
    }

    &__label {
      fill: $blue-grey-lighten-3;
      font-size: 1.3rem;
      font-weight: bold;
      text-anchor: middle;
    }

    &__rating-y {
      color: $blue-grey-lighten-3;
      font-size: 1.125rem;
      font-weight: bold;
    }

    &__dates-x {
      color: $blue-grey-lighten-3;
      font-size: 0.875rem;
      font-weight: bold;
    }

    &__tooltip {
      position: absolute;
      z-index: 2;
      visibility: hidden;
      background: $blue-grey-lighten-2;
      border: 1px solid $blue-grey-darken-4;
      color: $default-white;
      padding: 5px 10px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 3px;
      white-space: pre-line;
    }

    &__overlay {
      fill: none;
      pointer-events: all;
    }
  }
}
