$block-class: 'd3-chart';

 

@at-root {
  .#{$block-class} {
    width: inherit;
    &__tester {
      padding: 15px 10px;
      font-weight: bold;
      font-size: 15px;
    }
    &__line-chart {
      height: 37.5rem;
      width: -webkit-fill-available;
    }

    &__x-axis {
      display: none;
    }

    &__y-axis {
      // unused but maybe important later
      display: block;
    }

    &__stroke-stroke-width-opacity {
      stroke-width: 2;
      stroke-opacity: 0.5;
    }

    &__label {
      font-size: 1.3rem;
      font-weight: bold;
      text-anchor: middle;
    }

    &__rating-y {
      font-size: 1.125rem;
      font-weight: bold;
    }

    &__dates-x {
      font-size: 0.875rem;
      font-weight: bold;
    }

    &__tooltip {
      position: absolute;
      z-index: 2;
      visibility: hidden;
      padding: 5px 10px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 3px;
      white-space: pre-line;
    }

    &__overlay {
      fill: none;
      pointer-events: all;
    }
  }
}
