@import 'colors';

$block-class: 'd3-container';

@at-root {
    .#{$block-class} {

        & &__table-toggle {
            background-color: $blue-dark;
        }

        & &__table-selection-buttons {
            padding-left: 4rem;
        }

        & &__table-selection-button {
            color: $blue-grey-lighten-3;
            max-height: 2.2rem;
            font-weight: light;
            padding: 0 2rem;
            border: unset;
            text-transform: capitalize;
            font-size: 1.5rem;
            margin: 1rem 2rem;
            transition: .2s;
        }

        & &__table-selection-button:hover, :focus {
            border-radius: 0.5rem !important;
        }

        & &__table-selection-button.Mui-selected {
            color: $blue-light-2;
            background-color: $blue-light;
            border-radius: 0.5rem !important;
            height: 2rem;
            place-self: center;
            border: unset;
        }

        & &__chart-bar {
            float: right;
            margin-top: 0.625rem;
        }
        & &__chart-container{
            width: 100%;
            height: auto;
            margin: 3.5rem auto;
        }

        & &__loading-container{
            display: flex;
            justify-content: center;            
        }

        & &__loading-spinner{
            color: $blue-grey-darken-1;
            margin: 5rem auto;
        }

        & &__return-icon {
            font-size: 1rem;
            margin-bottom: .25rem;
        }

        &__return-link-display {
            cursor: pointer;
        }

        & &__return-measure-display {
            display: flex;
            flex-direction: row;
            position: absolute;
            margin: .75rem 0;
        }

        & &__cancel-icon {
            color: $blue-light;
            font-size: 2rem;
            margin: .5rem;
        }

        & &__return-measure-labels {
            display: flex;
            flex-direction: column;
            color: $blue-grey-darken-4;
            font-size: 1.2rem;
        }

        & &__return-measure-title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        & &__title {
            color: $blue-grey-darken-2;
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: bold;

            &--inactive {
                color: $blue-grey-lighten-1;
            }
        }

        & &__selector-title {
            color: $blue-grey-darken-4;
            font-size: 1.1rem;
            margin: .85rem 1rem 0 0;
        }

        &__measure-selector {
            margin: 1rem 1rem 0 0;
            display: flex;
            flex-direction: row;
            justify-content: right;
        }

        &__bottom-display {
            border: 1px solid $default-black;
        }
    }
}