$block-class: 'dashboard';
@import 'colors';

@at-root {
    .#{$block-class} {
      &__paper {
        padding: 2rem;
      }

      &__summary {
        padding: 2rem 0 0 2rem;
      }

      &__snackbar-close {
        &:focus {
          outline: none;
        }
      }
    }
}