@import 'colors';
@import 'rating-trends';

$block-class: 'display-table';


@at-root {
    .#{$block-class} {
        overflow-x: auto;
        padding: 0 0 0.5rem 0;
        max-height: 40rem;
        margin: 1rem 0;

        & &__header-section {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            display: flex;
            z-index: 5;
            margin: 0 0 0 .5rem;
            height: 4rem;
            align-items: center;
            flex-wrap: nowrap;
            align-self: center;
            text-align: -webkit-center;
    
            &--wide {
                justify-content: flex-start;
            }
        }

        & &__header-item {
            min-width: calc(10% + 0.8px); //don't @ me
            display: flex;
            height: inherit;
            justify-content: center;

            &--smaller {
                flex-basis: 5%;
            }

            &--small {
                flex-basis: 10%;
            }

            &--standard {
                flex-basis: 14%;
            }

            &--medium {
                flex-basis: 15%;
            }

            &--large {
                flex-basis: 20%;
                justify-content: left;
            }

            &--larger {
                flex-basis: 22%;
                min-width: 15%;
            }
        }

        & &__title-align {
            @extend .display-table__header-item;
            min-width: 10%;
            height: inherit;
            width: 100%;
        }

        & &__title-align--left {
            @extend .display-table__header-item;
            padding: 1rem;
            align-items: center;
            height: inherit;
        }

        & &__title-align-small {
            @extend .display-table__title-align;
            flex-basis: 8%;
            max-width: 8%;
            align-items: center;
            height: inherit;
            display: flex;
            justify-content: center;
        }

        & &__title {
            word-wrap: break-word;
            font-weight: bold;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            width: inherit;
        }

        & &__help-icon {
            @extend .rating-trends__help-icon;
            font-size: 1.25rem;
        }

        & &__row {
            width: 100%;
        }
    }

    .MuiTablePagination-menuItem {
        font-weight: 800;
        font-size: .9rem;
    }

    .MuiTablePagination-selectLabel{
        font-weight: 800;
        font-size: .9rem;
    }

    .MuiTablePagination-select{
        font-weight: 800;
        font-size: .9rem;
    }

    .MuiTablePagination-displayedRows{
        font-weight: 800;
        font-size: .9rem;
    }
}