$block-class: 'footer';
@import 'colors';

@at-root {
    .#{$block-class} {
      width: 100%;
      padding: 2rem;

      a {
        text-decoration: none;
        color: $blue-grey-darken-1;
        transition: 200ms;
      }
      
      a:hover {
        text-decoration: underline;
        color: $blue-grey-darken-3;
      }

      &__top-border {
       border-top: 3px solid $blue-grey-darken-4;
       width: 95%;
       margin: 1rem auto 2rem auto;
      }

      &__display {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
      }

      &__text {
        font-size: 0.875rem;
        font-weight: 600;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        color: $blue-grey-darken-4;
      }

      &__text-left {
        @extend .footer__text;
        text-align: left;
      }

      
      &__text-link:hover {
        text-decoration: underline;
      }

      &__text-right {
        @extend .footer__text;
        text-align: right;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        white-space: nowrap;
      }

      &__left-side {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &__logo {
        width: 10%;
        margin: 0 2rem;
      }

      &__right-side {
        right: 20px;
        padding-left: 1rem;
        padding-right: 2rem;
      }

      &__right-items {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
      }
    }
}