$block-class: 'footer';
@import 'colors';

@at-root {
    .#{$block-class} {
      width: 100%;
      padding-bottom: 1.5rem;

      &__top-border {
       border-top: 3px solid $blue-grey-darken-4;
       width: 95%;
       margin: 1rem auto 2rem auto;
      }

      &__flex-box {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
        align-items: center;
      }

      &__text {
        font-size: 0.875rem;
        font-weight: 600;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;

        &__left {
          color: $blue-grey-darken-4;;
          text-align: left;

          &__link:hover {
            text-decoration: underline;
          }
        }

        &__right {
          color: $blue-grey-darken-4;;
          text-align: right;
          padding-left: 0.75rem;
          padding-right: 0.75rem;
        }
      }
      &__left-side {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        &__logo {
          width:13%;
        }
      }

      &__right-side {
        right: 20px;
        padding-left: 1rem;
        padding-right: 2rem;
      }

      &__right-items {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: flex-end;
      }
    }
}