$block-class: 'info';
 

@at-root {
    .#{$block-class} {
      margin-left: 1rem;
      display: flex;

      & &__info-button {
        width: 1rem;
        height: 1rem;
        margin-top: 1.8rem; 
        margin-left: 1rem;
        
        &:focus {
          outline: none;
        }
      }

      &__info-icon {
        font-size: 1.25rem;
        z-index: 1;
      }

      &__info-box {
        display: flex;
        border-radius: 3px;
        padding: .9rem;
        max-width: 600px;
        position: absolute;
      }

      & &__text {
        margin-left: 2rem;
      }

      & &__button {
        height: 1rem;
        font-weight: 600;
        margin: auto 0;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }
}