$block-class: 'login';

@at-root {
    .#{$block-class} {

        & &__header-section {
          backdrop-filter: blur(1px);
          border-radius: 2rem;
          padding: 2rem;
          float: right;
          margin-right: 6rem;
          width: 600px; //we need to discuss breakpoints at some point
        }
    }
}