 

$block-class: 'measure-table-row';

@at-root {
    .#{$block-class} {
        & &__row-section {
            align-items: center;
            display: flex;
            width: 100%;
            padding-left: 0.5rem;
            margin: 0.5rem 0;
            height: 6rem;
        }

        & &__data-align {
            display: flex;
            padding: 1rem;
            min-width: 7%;
            height: inherit;
            word-wrap: break-word;
            align-items: center;

            &--standard {
                flex-basis: 14%;
                justify-content: center;
                text-align: center;
            }

            &--large {
                flex-basis: 20%;
            }
        }

        & &__data {
            font-size: .9rem;
        }
        
        &__alert-link{
            font-style: italic;
        }
    }
}