@import 'colors';
@import 'rating-trends';

$block-class: 'measure-results-table';


@at-root {
    .#{$block-class} {
        box-shadow: 1px 2px 2px 1px $blue-grey-lighten-2;
        border-radius: 5px;

        & &__header-section {
            justify-content: space-evenly;
            align-items: center;
            display: flex;
            width: 100%;
            padding: 0.2rem;
            margin: 1rem 0;
        }

        & &__title-align {
            display: flex;
            justify-content: center;
            padding: 16px 0 0 16px;
            flex-basis: 16.66%;
            min-width: 7%;
            align-items: center;
            margin: auto;
        }
        & &__measure-title{
            word-wrap: break-word;
            font-weight: bold;
            color:$blue-grey-darken-1;
            text-align: left;
        }
        & &__title {
            word-wrap: break-word;
            font-weight: bold;
            color:$blue-grey-darken-1;
            // margin:auto;
        }

        & &__title-align-small {
            @extend .measure-results-table__title-align;
            flex-basis: 8.33%
        }

        & &__help-icon {
            @extend .rating-trends__help-icon;
            margin-top: 0.13rem;
            font-size: 1.25rem;
        }

        & &__row {
            width: 100%;
        }
        & &__data-measure-title{
            color:$default-black;
            font-size:.9rem;
        }
        & &__data{
            color:$default-black;
            font-size:.9rem;
        }
        & &__data-measure-title{
            // color:$default-black;
            font-size:.9rem;
        }
        &__divider{
            color:green;
        }
    }
}