@import 'colors';
@import 'rating-trends';

$block-class: 'measure-results-table';


@at-root {
    .#{$block-class} {
        box-shadow: 1px 2px 2px 1px $blue-grey-lighten-2;
        border-radius: 5px;

        & &__header-section {
            justify-content: space-evenly;
            align-items: center;
            display: flex;
            width: 100%;
            padding: 0.2rem;
            margin: 1rem 0;
        }

        & &__title-align {
            display: flex;
            justify-content: center;
            padding: 1rem;
            flex-basis: 14%;
            min-width: 7%;
            align-items: center;
            margin: auto;
        }

        & &__title-align-measure {
            @extend .measure-results-table__title-align;
            flex-basis: 22%;
            justify-content: left;
        }

        & &__title-align-small {
            @extend .measure-results-table__title-align;
            flex-basis: 8%
        }

        & &__title {
            word-wrap: break-word;
            font-weight: bold;
            color:$blue-grey-darken-1;
        }

        & &__help-icon {
            @extend .rating-trends__help-icon;
            margin-top: -0.05rem;
            font-size: 1.25rem;
        }

        & &__row {
            width: 100%;
        }

        & &__divider {
            background-color: $blue-grey-lighten-3;
        }
    }

    .MuiPagination-root {
        margin: 1rem auto;
    }

    .MuiPaginationItem-root {
        color: $blue-grey-darken-1;
        border-radius: 0.5rem;
    }
}