$block-class: 'member-report';
 

@at-root {
    .#{$block-class} {
        padding: 2rem;

        &__info-panel {
            display: flex;
            justify-content: space-between;
            margin: 0 2rem;
        }

        &__info-title {
            display: flex;
        }

        & &__h2-header {
            font-weight: 600;
            text-align: left;
            margin: 1rem 0;
            font-size: 2.25rem;
        }

        & &__download-icon {
            margin-top: .4rem;
        }

        & &__info-display {
            margin: 1rem 0;
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        & &__member-card {
            border-radius: 3px;
            padding: 32px 24px;
            margin: 0 1rem;
            width: 50%;
            // need to upgrade RTL for userEvents
            // margin-right: auto;
            // margin-left: auto;
        }

        & &__insurance-card {
            border-radius: 3px;
            margin: 0 1rem;
            display: grid;
            grid-template-columns: 3fr 1fr;
            width: 50%;
        }

        & &__info-field {
            display: flex;
            margin-bottom: 0.5rem;
            align-items: center;
        }

        & &__info-label {
            font-weight: bolder;
            margin-top: 0.05rem;
        }

        & &__relationship-label {
            text-transform: capitalize;
            margin-top: 0.05rem;
        }

        & &__coverage {
            text-transform: uppercase;
            margin-top: 0.05rem;
        }
    }
}