@import 'colors';

$block-class: 'member-table-row';

@at-root {
    .#{$block-class} {
        background-color: inherit;

        & &__row-section {
            align-items: center;
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            background-color: inherit;

            &--wide {
                justify-content: flex-start;
            }
        }

        & &__data-align {
            display: flex;
            justify-content: center;
            padding: 0.5rem;
            min-width: 10%;
            word-wrap: break-word;
            background-color: inherit;
            margin: 0;
            height: 6rem;
            align-items: center;

            &--smaller {
                flex-basis: 5%;
            }

            &--small {
                flex-basis: 10%;
            }

            &--standard {
                flex-basis: 14%;
            }

            &--medium {
                flex-basis: 15%;
            }

            &--larger {
                flex-basis: 22%;
            }
        }

        & &__data-align:first-of-type {
            min-width: 15%;
            margin-left: .5rem;
        }

        & &__data-align-small {
            @extend .member-table-row__data-align;
            flex-basis: 8%
        }

        & &__data {
            font-size: .9rem;
        }

        & &__compliance-icon {
            font-size: 2rem;
            margin-bottom: .2rem;
        }

        & &__compliance-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}