$block-class: 'rating-trends';
@import 'colors';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: $blue-grey-darken-1;

        &__main-header-align {
            display: flex;
        }

        & &__h2-header {
            font-weight: 600;
            text-align: left;
            margin: 1rem 0rem 0.5rem 1rem;
            font-size: 2.25rem;
        }
        & &__loading-container{
            &--rating-trends {
                width: 100%;
                margin: 1rem auto;
            } 
            &--options {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin: 1rem auto 0 auto;
            }
        }
        & &__loading-skeleton{

            &--rating-trends {
                width: 25%;
                height: 75px;
            }
            &--rating-trends-options {
                width: 50%;
            } 
            &--options {
                width: 45%;
                height: 180px;
            }

        }
        &__display-box {
            display: flex;
            flex-direction: column;
        }

        &__panel-box {
            display: flex;
            margin-top: 1.5rem;
        }

        &__panel {
            height: 11rem;
            border: 1px solid $blue-grey-lighten-3;
            border-radius: 3px;
            text-align: center;
            margin: 1rem;
            padding: 1rem;

            &--width-25 {
                width: 25%;
            }
    
            &--width-50 {
                width: 50%;
            }
        }

        &__header-align {
            display: flex;
            justify-content: center;
        }

        & &__h3-header {
            text-align: center;
            font-weight: 600;
            font-size: 1.25rem;
            height: 2.875rem;
        }

        &__help-icon {
            color: $blue-grey-lighten-4;
            margin-left: 0.4rem;
            margin-top: 0.1rem;

            &:hover {
                color: $primary-blue;
            }
        }
        
        & &__star-rating {
            margin: 1.5rem 0 0.75rem;
            font-size: 2.5rem;
        } // Because there are multiple spans beneath this, be specific.

        & &__not-available {
            margin-top: 1rem;
            font-size: 2.5rem;
            font-weight: 500;
            color: $blue-grey-darken-4;
        }
    }
}
