@import 'colors';

$block-class: 'report-table-row';

@at-root {
    .#{$block-class} {
        & &__divider {
            background-color: $blue-grey-lighten-3;
        }

        & &__row-section {
            justify-content: space-evenly;
            align-items: center; // Change to flex-start to align to top.
            display: flex;
            width: 100%;
            padding: 0.2rem;
        }

        & &__data-align {
            display: flex;
            justify-content: center;
            padding: 1rem;
            min-width: 7%;
            word-wrap: break-word;
            align-content: center;
            text-align: center;

            &--small {
                flex-basis: 10%;
            }

            &--large {
                flex-basis: 20%;
            }
        }

        & &__data {
            color: $default-black;
            font-size:.9rem;
        }

        & &__compliance-icon {
            font-size: 2rem;
            margin-bottom: .2rem;
        }

        & &__icon-cell {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 3.5rem;
            max-height: 3.5rem;

            &--matched {
                color: $default-mint;
            }
    
            &--unmatched {
                color: $default-red;
            }
        }

        & &__array-cell {
            display: flex;
        }

        & &__condition-icon {
            &--good {
                color: $default-mint;
            }
    
            &--bad {
                color: $default-red;
            }
        }
    }
}