$block-class: 'table-filter-panel';
@import 'colors';

@at-root {
    .#{$block-class} {
        display: grid;
        grid-template-columns: 1fr 3fr;

        & &__member-search { // TODO //placeholder styles
            color: $blue-grey-darken-4;
            display: flex;
            width: auto;
            align-items: center;
            margin: 0 2.5rem 0 0.5rem;
        }

        & &__button-panel {
            width: 100%;
            display: flex;
            flex-flow: row;
            gap: 1rem;
            padding: 1rem 0 0.5rem 0;
            color:$blue-grey-darken-1;
        }

        & &__label {
            align-self: center;
            font-weight: bolder;
            word-wrap: break-word;
            width: 7rem;
        }

        & &__divider {
            width: 100%;
            background-color: $blue-grey-lighten-3;
            height: 1px;
        }
    }
}