$primary-blue: #005EA2;
$secondary-blue: #DFF4FC;
$outline-blue: #162F8A;
$secondary-blue-transparent: #DFF4FC40;

$bg-white: #f3f4f6;
$default-white: #FFFFFF;
$blue-grey: #607D8B;
$blue-grey-lighten-5: #ECEFF1;
$blue-grey-lighten-4: #CFD8DC;
$blue-grey-lighten-3: #B0BEC5;
$blue-grey-lighten-2: #90A4AE;
$blue-grey-lighten-1: #78909C;
$blue-grey-darken-1: #546E7A;
$blue-grey-darken-2: #455A64;
$blue-grey-darken-3: #37474F;
$blue-grey-darken-4: #0E3D73;

$green-text: #2E7D32;
$green-icon: #3EB489;

//warning palette?

$default-red: #C62828;
$default-red-darken: #951F1F;