
$default-white: #FFF; //adhere to this for white, no hardcoding

$default-red: #C62828; //used in Xs, negative change, no entries found, no matched compliance

$green-text: #2E7D32;
$green-icon: #3EB489;

$primary-blue: #1976D2;
$secondary-blue: #DFF4FC;
$outline-blue: #162f8a;
$secondary-blue-transparent: #dff4fc40;

// Blue-grey theme pallete
$blue-grey: #607D8B;
$blue-grey-lighten-5: #ECEFF1;
$blue-grey-lighten-4: #CFD8DC;
$blue-grey-lighten-3: #B0BEC5;
$blue-grey-lighten-2: #90A4AE;
$blue-grey-lighten-1: #78909C;
$blue-grey-darken-1: #546E7A;
$blue-grey-darken-2: #455A64;
$blue-grey-darken-3: #37474F;
$blue-grey-darken-4: #263238;