@tailwind base;

@tailwind components;

@tailwind utilities;

.circle {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  line-height: 15.75rem;
  font-size: 7rem;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

.circle-good {
  background-color: #c6f6d5;
  border: 1.25rem solid #68d391;
}

.circle-okay {
  background-color: #feebc8;
  border: 1.25rem solid #ed8936;
}

.circle-bad {
  background-color: #fed7d7;
  border: 1.25rem solid #fc8181;
}

.min-h-circle {
  min-height: 18rem;
}

.pre-fade{
  opacity:0;
  transition: opacity 0.5s;
}

.fade-in{
  opacity:1;
  transition: opacity 0.5s;
}

.stars {
  height: 18rem;
  width: 26rem;
  border-radius: 50%;
  line-height: 15.75rem;
  font-size: 7rem;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.inside-padding {
  padding: .5em;
}

.border-grey {
  border: 1px solid grey;
}

.margin-20 {
  margin: 20px;
}

.rounded-xl {
  border-radius: .75em;
}

.bg-light-grey {
  background-color: #F7F8FC;
}

.bg-grey {
  background-color: #E7E7EC;
}

.bg-dark-grey {
  background-color: #36373F;
}

.margin-10em {
  margin: 0 10em;
}

.min-width-250 {
  min-width: 250px;
}

.float-right {
  float: right;
}

.welcome-info {
  padding: 0.8em;
  margin: 0.5em -0.5em -0.5em -0.5em;
  border-bottom-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
}

.bb-grey {
  border-bottom: 1px solid grey;
}

.margin-top-2 {
  margin-top: 2rem;
}