/* Styles entire dashboard div */
.dashboard {
    min-height: calc(100vh - 60px);
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

/* Styles the center content for the dashboard */
.dashboardContent {
    width: 1200px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}